{% extends "frlsim/base.html" %}

{% block title %}{{ act.metadata.title }}{% endblock %}

{% block content %}
	<h1>{{ act.metadata.title }}</h1>
	
	<p>
		Act No. {{ act.number }} of Term {{ act.year }}.
		Assented on {{ act.metadata.assent }}.
		{% if act.metadata.commencement %}Commenced on {{ act.metadata.commencement }}.{% endif %}
		{% if act.repealed_by %}Repealed by <a href="/act/{{ act.repealed_by[0].code }}">{{ act.repealed_by[0].metadata.title }}</a>.{% endif %}
	</p>
	
	<div class="ui top attached tabular menu">
		{% if act.can_render %}<a class="active item" data-tab="text">Text{% if not act.content %} (auto-converted){% endif %}</a>{% endif %}
		<a class="{% if not act.can_render %}active {% endif %}item" data-tab="download">Download</a>
		{% if act.metadata.amends or act.metadata.repeals %}<a class="item" data-tab="amends">Amends</a>{% endif %}
		{% if act.amended_by or act.repealed_by %}<a class="item" data-tab="amended_by">Amended by</a>{% endif %}
		{% if act.compilations %}<a class="item" data-tab="compilations">Compilations</a>{% endif %}
		{% if act.instruments %}<a class="item" data-tab="instruments">Instruments</a>{% endif %}
		<a class="item" data-tab="details">Details</a>
	</div>
	
	{% if act.can_render %}
		<div class="ui bottom attached active tab segment" data-tab="text">
			{{ act.render() }}
		</div>
	{% endif %}
	
	<div class="ui bottom attached {% if not act.can_render %}active {% endif %}tab segment" data-tab="download">
		<ul class="ui list">
			{% for format in act.formats %}
				<li><a href="/act/{{ act.code }}/download/{{ act.code }}.{{ format }}">
					{{ format.upper() }}
					{% if format == 'md' and act.content.strip()|length == 0 %}
						(metadata only)
					{% endif %}
				</a></li>
			{% endfor %}
			{% for format in act.autoconverted.keys() %}
				<li><a href="/act/{{ act.code }}/download/{{ act.code }}.auto.{{ format }}">
					{{ format.upper() }}
					(auto-converted)
				</a></li>
			{% endfor %}
		</ul>
	</div>
	
	{% if act.metadata.amends or act.metadata.repeals %}
		<div class="ui bottom attached tab segment" data-tab="amends">
			{% macro amends_list(list) %}
				<ul class="ui list">
					{% for entry in list %}
						{% if entry.split()|length == 1 %}
							<li><a href="/act/{{ entry }}">{{ acts_bycode[entry].metadata.title }}</a></li>
						{% else %}
							<li>{{ entry }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endmacro %}
			{% if act.metadata.amends %}
				<h2>Amends</h2>
				{{ amends_list(act.metadata.amends) }}
			{% endif %}
			{% if act.metadata.repeals %}
				<h2>Repeals</h2>
				{{ amends_list(act.metadata.repeals) }}
			{% endif %}
		</div>
	{% endif %}
	
	{% if act.amended_by or act.repealed_by %}
		<div class="ui bottom attached tab segment" data-tab="amended_by">
			{% if act.amended_by %}
				<h2>Amended by</h2>
				<ul class="ui list">
					{% for entry in act.amended_by %}
						<li><a href="/act/{{ entry.code }}">{{ entry.metadata.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if act.repealed_by %}
				<h2>Repealed by</h2>
				<ul class="ui list">
					{% for entry in act.repealed_by %}
						<li><a href="/act/{{ entry.code }}">{{ entry.metadata.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
	
	{% if act.compilations %}
		<div class="ui bottom attached tab segment" data-tab="compilations">
			<ul class="ui list">
				{% for compilation in act.compilations %}
					<li><a href="/compilation/{{ compilation.code }}">Up to the {{ compilation.upto.metadata.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	
	{% if act.instruments %}
		<div class="ui bottom attached tab segment" data-tab="instruments">
			<ul class="ui list">
				{% for instrument in act.instruments %}
					<li><a href="/instrument/{{ instrument.code }}">{{ instrument.metadata.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	
		<div class="ui bottom attached tab segment" data-tab="details">
			<h2>Details</h2>
			<ul class="ui list">
			    <li><b>Title:</b> {{ act.metadata.title }}</li>
			    <li><b>Number:</b> Act No. {{ act.number }} of Term {{ act.year }}</li>
			    {% if act.metadata.bill %}<li><b>Bill:</b> <a href="https://www.reddit.com/r/ModelNZParliament/search?q=b.{{ act.metadata.bill }}&restrict_sr=1">{{ act.metadata.bill }}</a></li>{% endif %}
			    {% if act.metadata.introducer %}<li><b>Sponsor:</b> <a href="https://www.reddit.com/u/{{ act.metadata.introducer }}">/u/{{ act.metadata.introducer }}</a> ({{ act.metadata.party }})</li>{% endif %}
			    {% if act.metadata.portfolio %}<li><b>Portfolio:</b> {{ act.metadata.portfolio }} </li>{% endif %}
			    {% if act.metadata.assent %}<li><b>Royal Assent:</b> {{ act.metadata.assent }} </li>{% endif %}
			    {% if act.metadata.commencement %}<li><b>Commencement:</b> {{ act.metadata.commencement }} </li>{% endif %}
			</ul>
				{% if act.metadata.author %}
				<h2>Author(s)</h2>
				<ul class="ui list">
				{% for author in act.metadata.author %}
					<li>{{ author }}</li>
				{% endfor %}
				</ul>
				{% endif %}
			<h2>Links</h2>
			<ul class="ui list">
				{% if act.metadata.urls %}
				{% for url in act.metadata.urls %}
					<li><a href="{{ url }}">{{ url }}</a></li>
				{% endfor %}
				{% endif %}
				{% if act.metadata.first_reading %}
					<li><b>First Reading:</b> <a href="https://{{ act.metadata.first_reading }}">{{ act.metadata.first_reading }}</a></li>
				{% endif %}
				{% if act.metadata.committee %}
					<li><b>Committee:</b> <a href="https://{{ act.metadata.committee }}">{{ act.metadata.committee }}</a></li>
				{% endif %}
				{% if act.metadata.final_reading %}
					<li><b>Final Reading:</b> <a href="https://{{ act.metadata.final_reading }}">{{ act.metadata.final_reading }}</a></li>
				{% endif %}
				{% if act.metadata.urgent_reading %}
					<li><b>Urgent Reading:</b> <a href="https://{{ act.metadata.urgent_reading }}">{{ act.metadata.urgent_reading }}</a></li>
				{% endif %}
			</ul>
		</div>
	
{% endblock %}

{% block script %}
	<script>
		$('.tabular.menu .item').tab();
	</script>
{% endblock %}
