{% extends "frlsim/base.html" %}

{% block title %}Acts by portfolio{% endblock %}

{% block content %}
	<h1>Acts by portfolio</h1>
	
	{% for portfolio, portfolio_acts in acts|groupby('portfolio') %}
		<h2>{{ portfolio }}</h2>
		<ul class="ui list">
			{% for act in portfolio_acts %}
				<li><a href="/act/{{ act.code }}">A{{ act.year }}.{{ act.number }}: {{ act.metadata.title }}</a>{% if act.repealed_by %} (Repealed){% endif %}</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
