{% extends "frlsim/base.html" %}

{% block title %}Differences from real life{% endblock %}

{% block content %}
<h1>Model New Zealand Policies</h1>

<p>This page lists all major differences from the real-world New Zealand broken down by subject area. Model New Zealand's date of divergence from the real-world is 4th October 2017.</p>

<h3>Meta</h3>

<p>These are changes made for the game to function and were not implemented by canon Acts.</p>

<ul>
  <li>Parliamentary terms are 3 months</li>
  <li>The number of seats in Parliament is 21 (11 electorates and 10 list seats)</li>
</ul>

{% endblock %}
